{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}



{% block body %}

<h3>Coin Tracker</h3>
<h4>Cryptocurrency Prices by Market Cap</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Market Cap</th>
      <th scope="col">Total volume</th>
      <th scope="col">Ath</th>
      <th scope="col">Last updated</th>
    </tr>
  </thead>
  <tbody>
  {% for coin in allCurrency %}
    <tr>
      <td><a class="btn btn-success" href='#'><i class="fa fa-plus"></i></a></th>
      <td><a href={{ path("app_details",  {coinId: coin.idCoin}) }}>{{ coin.name }}</a></th>
      <td>$ {{ coin.currentPrice }}</td>
      <td>{{ coin.marketCap }}</td>
      <td>{{ coin.totalVolume }}</td>
      <td>$ {{ coin.ath }}</td>
      <td>{{ coin.lastUpdated  | date("m/d/Y H:i:s") }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}
