{% extends 'base.html.twig' %}

{% block body %}


<div class="container">

    <h2><img class="img-coin" src="{{ currency.image }}" alt="">{{ currency.name }}</h2>
    <p>{{ currency.currentPrice | format_currency('USD', {fraction_digit: 4})  }}</p>



    <table class="table">
    <tbody>
        <tr>
            <th scope="row">Market Cap</th>
            <td>{{ currency.marketCap | format_currency('USD', {fraction_digit: 4})  }}</td>
        </tr>
        <tr>
            <th scope="row">Market Cap Rank</th>
            <td>{{ currency.marketCapRank }}</td>
        </tr>
        <tr>
            <th scope="row">Total Volume</th>
            <td>{{ currency.totalVolume | format_currency('USD', {fraction_digit: 4})  }}</td>
        </tr>
    </tbody>
    </table>


</div>

{% endblock %}