{% extends 'base.html.twig' %}
{% block body %}


<div class="container mt-4">
  <h3>Coin Tracker</h3>
  <h4 class="title-click">Currency Prices by Market Cap</h4>

  <section class="py-5 news">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for post in allPosts | slice(0, 3) %}
      <div class="col">
        <a href={{ path("app_slug", {'slug': post.slug} )}}>
          <div class="card h-100 shadow bg-body rounded">
            <img src='/uploads/images/{{ post.image }}' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.content }}</p>
            </div>
            <div class="mx-3 my-3 like">
            <a class="js-like" href={{ path("app_like", { 'id': post.id }) }}>
              {% if app.user and post.isLikedByUser(app.user) %}
                <i class="fa fa-heart"></i>
              {% else %}
                <i class="far fa-heart"></i>
              {% endif %}
              <span class="js-likes">{{ post.likes | length }}</span>
            </a>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ post.date | date("m/d/Y H:i:s")  }}</small>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>

  <section>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card card-index">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-fire-flame-curved"></i> Trending</h5>
            <p class="card-text">
              <ul>
                {% for trend in trending | slice(0, 3)  %}
                  <li><span class="score-card">{{ (trend.item.score) + 1 }} </span> <img class="mx-3 img-coin" src="{{ trend.item.small }}" alt="" >{{ trend.item.name }} <span class="symbol-card">{{ trend.item.symbol }}</span> (rank {{ trend.item.market_cap_rank }})</span></li>
                {% endfor %}
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-index">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-dollar-sign"></i>  Defi Data</h5>
            <p class="card-text">
                <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>Defi Market Cap</td>
                        <td>{{ dataDefi.data.defi_market_cap | format_currency('USD', {fraction_digit: 4}) }}</td>
                      </tr>
                      <tr>
                        <td>Trading Vol h24</td>
                        <td>{{ dataDefi.data.trading_volume_24h | format_currency('USD', {fraction_digit: 4})  }}</td>
                      </tr>
                      <tr>
                        <td>Top coin name</td>
                        <td>{{ dataDefi.data.top_coin_name }}</td>
                      </tr>
                      <tr>
                        <td>Top coin defi domminance</td>
                        <td>{{ dataDefi.data.top_coin_defi_dominance | format_currency('USD', {fraction_digit: 4})  }}</td>
                      </tr>
                    </tbody>
                  </table>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Market Cap</th>
        <th scope="col">Total volume</th>
        <th scope="col">Ath</th>
        <th scope="col">Last updated</th>
      </tr>
    </thead>
    <tbody>
    {% for coin in allCurrency %}
      <tr>
        <td>
          <a class="js-link" href={{ path("app_fav", {'id': coin.id}) }}>

            {% if app.user and coin.isFavoritesByUser(app.user) %}
              <i class="fa fa-star"></i>
            {% else %}
              <i class="far fa-star"></i>
            {% endif %}
          </a>
        </td>
        <td><img class="img-coin" src="{{ coin.image }}" alt=""><a class="name-coin" href={{ path("app_details",  {coinId: coin.idCoin}) }}>{{ coin.name }}</a></th>
        <td>{{ coin.currentPrice | format_currency('USD', {fraction_digit: 4}) }}</td>
        <td>{{ coin.marketCap | format_currency('USD', {fraction_digit: 4})  }}</td>
        <td>{{ coin.totalVolume | format_currency('USD', {fraction_digit: 4})  }}</td>
        <td>{{ coin.ath | format_currency('USD', {fraction_digit: 4})  }}</td>
        <td>{{ coin.lastUpdated  | date("m/d/Y H:i:s") }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
