{% extends 'base.html.twig' %}
{% block body %}


<div class="container mt-4">

<h3>Coin Tracker</h3>
<h4 class="title-click">Currency Prices by Market Cap</h4>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Market Cap</th>
        <th scope="col">Total volume</th>
        <th scope="col">Ath</th>
        <th scope="col">Last updated</th>
      </tr>
    </thead>
    <tbody>
    {% for coin in allCurrency %}
      <tr>
        <td>
          <a class="js-link" href={{ path("app_fav", {'id': coin.id}) }}>

            {% if app.user and coin.isFavoritesByUser(app.user) %}
              <i class="fa fa-star"></i>
            {% else %}
              <i class="far fa-star"></i>
            {% endif %}
          </a>
        </td>
        <td><img class="img-coin" src="{{ coin.image }}" alt=""><a class="name-coin" href={{ path("app_details",  {coinId: coin.idCoin}) }}>{{ coin.name }}</a></th>
        <td>{{ coin.currentPrice | format_currency('USD', {fraction_digit: 4}) }}</td>
        <td>{{ coin.marketCap | format_currency('USD', {fraction_digit: 4})  }}</td>
        <td>{{ coin.totalVolume | format_currency('USD', {fraction_digit: 4})  }}</td>
        <td>{{ coin.ath | format_currency('USD', {fraction_digit: 4})  }}</td>
        <td>{{ coin.lastUpdated  | date("m/d/Y H:i:s") }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
