{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <table class="table">
    <thead>
        <tr>
        {# <th scope="col">#</th> #}
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Market Cap</th>
        <th scope="col">Total volume</th>
        <th scope="col">Ath</th>
        <th scope="col">Last updated</th>
        </tr>
    </thead>
    <tbody>
    {% for coin in favCoins %}
        <tr>
            <td><a href={{ path("app_details",  {coinId: coin.idCurrency.idCoin}) }}>{{ coin.idCurrency.name }}</a></th>
            <td>$ {{ coin.idCurrency.currentPrice }}</td>
            <td>{{ coin.idCurrency.marketCap }}</td>
            <td>{{ coin.idCurrency.totalVolume }}</td>
            <td>$ {{ coin.idCurrency.ath }}</td>
            <td>{{ coin.idCurrency.lastUpdated  | date("m/d/Y H:i:s") }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>


{% endblock %}
